In [62]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib 
from matplotlib import pyplot as plt
matplotlib.rcParams['figure.figsize']=(22,12)

In [63]:
# The code was removed by Watson Studio for sharing.

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [64]:
df_blore.shape

(13320, 9)

In [65]:
df_blore.groupby('area_type')['area_type'].agg('count')

area_type
Built-up  Area          2418
Carpet  Area              87
Plot  Area              2025
Super built-up  Area    8790
Name: area_type, dtype: int64

In [66]:
df2=df_blore.drop(['area_type','availability','society'],axis='columns')
df2.head()

                   location       size total_sqft  bath  balcony   price
0  Electronic City Phase II      2 BHK       1056   2.0      1.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0      3.0  120.00
2               Uttarahalli      3 BHK       1440   2.0      3.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0      1.0   95.00
4                  Kothanur      2 BHK       1200   2.0      1.0   51.00

In [67]:
df2.isnull().sum()

location        1
size           16
total_sqft      0
bath           73
balcony       609
price           0
dtype: int64

In [68]:
df3=df2.dropna()
df3.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
balcony       0
price         0
dtype: int64

In [69]:
df3.shape

(12710, 6)

In [70]:
df3['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '3 Bedroom', '1 BHK', '1 RK',
       '4 BHK', '1 Bedroom', '2 Bedroom', '6 Bedroom', '8 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '11 Bedroom', '43 Bedroom',
       '14 BHK', '8 BHK', '12 Bedroom', '10 Bedroom', '13 BHK'],
      dtype=object)

In [71]:
df3['bhk']=df3['size'].apply(lambda x: int(x.split(' ')[0]))

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [72]:
df3.head()

                   location       size total_sqft  bath  balcony   price  bhk
0  Electronic City Phase II      2 BHK       1056   2.0      1.0   39.07    2
1          Chikka Tirupathi  4 Bedroom       2600   5.0      3.0  120.00    4
2               Uttarahalli      3 BHK       1440   2.0      3.0   62.00    3
3        Lingadheeranahalli      3 BHK       1521   3.0      1.0   95.00    3
4                  Kothanur      2 BHK       1200   2.0      1.0   51.00    2

In [73]:
df3['bhk'].unique()

array([ 2,  4,  3,  1,  6,  8,  7,  5, 11,  9, 27, 43, 14, 12, 10, 13])

In [74]:
df3[df3.bhk>15].head()

,location,size,total_sqft,bath,balcony,price,bhk
1718,2Electronic City Phase II,27 BHK,8000,27.0,0.0,230.0,27
4684,Munnekollal,43 Bedroom,2400,40.0,0.0,660.0,43

In [75]:
df3.total_sqft.unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [76]:
#function to check the value type in total square feet i.e range or float check
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [77]:
df3[~df3['total_sqft'].apply(is_float)].head()

               location   size   total_sqft  bath  balcony    price  bhk
30            Yelahanka  4 BHK  2100 - 2850   4.0      0.0  186.000    4
122              Hebbal  4 BHK  3067 - 8156   4.0      0.0  477.000    4
137  8th Phase JP Nagar  2 BHK  1042 - 1105   2.0      0.0   54.005    2
165            Sarjapur  2 BHK  1145 - 1340   2.0      0.0   43.490    2
188            KR Puram  2 BHK  1015 - 1540   2.0      0.0   56.800    2

In [78]:
#func to convert the total sq ft range into mean of the range 
def convert_sqft_to_num(x):
    tokens=x.split('-')
    if len(tokens)==2:
        return (float(tokens[0])+float(tokens[1]))/2
    try:
        return float(x)
    except:
        return None

In [79]:
df4=df3.copy()
df4['total_sqft']=df4['total_sqft'].apply(convert_sqft_to_num)
df4.head()

                   location       size  total_sqft  bath  balcony   price  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0      1.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0      3.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0      3.0   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0      1.0   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0      1.0   51.00    2

In [80]:
df4.balcony.unique()

array([1., 3., 2., 0.])

In [ ]:
df4.balcony.dtype

dtype('float64')

In [ ]:
df4.balcony=df4.balcony.apply(lambda x: int(x))
df4.balcony.dtype

dtype('int64')

In [ ]:
df4.head()

                   location       size  total_sqft  bath  balcony   price  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0        1   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0        3  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0        3   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0        1   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0        1   51.00    2

In [ ]:
df4['price_per_sqft']=df4['price']*100000/df4['total_sqft'] # price is in lakh rupees
df4.head()

,location,size,total_sqft,bath,balcony,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,1,39.07,2,3699.810606
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,3,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,3,62.00,3,4305.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,1,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,1,51.00,2,4250.000000

In [ ]:
len(df4['location'].unique())

1265

In [ ]:
# high no of locations and thus if we do one hot encoding afterward we'll get more than 1200 columns added to the df 
# which is very large and unappropriate, also called as high dimensionality problem
df4['location']=df4['location'].apply(lambda x: x.strip()) # will remove any leading or ending white spaces
stat=df4.groupby('location')['location'].agg('count').sort_values(ascending=False)
stat

location
Whitefield                                      515
Sarjapur  Road                                  372
Electronic City                                 302
Kanakpura Road                                  261
Thanisandra                                     234
Yelahanka                                       206
Uttarahalli                                     186
Hebbal                                          173
Raja Rajeshwari Nagar                           168
Marathahalli                                    164
7th Phase JP Nagar                              147
Bannerghatta Road                               144
Hennur Road                                     142
Haralur Road                                    135
Electronic City Phase II                        130
Rajaji Nagar                                     99
Chandapura                                       98
Bellandur                                        91
Hoodi                                            86
Electronics City Phase 1                         86
KR Puram                                         85
Begur Road                                       83
Sarjapur                                         81
Yeshwanthpur                                     78
Kasavanhalli                                     77
Harlur                                           76
Banashankari                                     74
Hosa Road                                        72
Ramamurthy Nagar                                 72
Kengeri                                          71
                                               ...
Kalkere Channasandra                              1
Kalhalli                                          1
Kalasipalya                                       1
Kadarenahalli                                     1
KPC Layout                                        1
KHB Colony Extension                              1
KG Halli                                          1
KAMAKIYA                                          1
Kathriguppe IV Phase                              1
Kenchanehalli R R Nagar                           1
M.G Road                                          1
Kengeri Satellite Town ( BDA SITE)                1
Laxminarayana Layout                              1
Lalbagh Road                                      1
Lakshmipura Vidyaanyapura                         1
Lakshminarayanapura, Electronic City Phase 2      1
Lakkasandra Extension                             1
Lakkasandra                                       1
LIC Colony                                        1
Kuvempu Layout                                    1
Kumbhena Agrahara                                 1
Kumbalgodu                                        1
Kudlu Village,                                    1
Koppa                                             1
Konappana Agrahara                                1
Kodanda Reddy Layout                              1
Kirloskar layout, Basaveshwarnagar                1
Kengeri Satellite Town Stage II                   1
Kengeri Satellite Town KHB Apartment              1
1 Annasandrapalya                                 1
Name: location, Length: 1254, dtype: int64

In [ ]:
len(stat[stat<30]) # locations which have less than 30 datapoints

1158

In [ ]:
oth=stat[stat<30]

In [ ]:
#these locations will be categorised into 'other' thus reducing dimensionality
df4['location']=df4['location'].apply(lambda x:'other' if x in oth else x)
len(df4['location'].unique())

97

In [ ]:
df4.head()

,location,size,total_sqft,bath,balcony,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,1,39.07,2,3699.810606
1,other,4 Bedroom,2600.0,5.0,3,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,3,62.00,3,4305.555556
3,other,3 BHK,1521.0,3.0,1,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,1,51.00,2,4250.000000

### OUTLIER DETECTION AND THEIR REMOVAL

In [ ]:
df4.shape

(12710, 8)

In [ ]:
df4=df4[~(df4['total_sqft']/df4.bhk<350)] # removing those data points which have per bedroom area less than 350 i.e homes with 1000 total sqft and 
# 6 bedrooms will have rooms extremely small or they are error values(outlier) and thus must be removed
df4.head()

,location,size,total_sqft,bath,balcony,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,1,39.07,2,3699.810606
1,other,4 Bedroom,2600.0,5.0,3,120.00,4,4615.384615
2,Uttarahalli,3 BHK,1440.0,2.0,3,62.00,3,4305.555556
3,other,3 BHK,1521.0,3.0,1,95.00,3,6245.890861
4,Kothanur,2 BHK,1200.0,2.0,1,51.00,2,4250.000000

In [ ]:
df4.shape

(11728, 8)

In [ ]:
df4.price_per_sqft.describe()

count     11686.000000
mean       6097.109904
std        3859.638681
min         267.829813
25%        4190.260476
50%        5219.868416
75%        6722.689076
max      176470.588235
Name: price_per_sqft, dtype: float64

In [ ]:
# function to remove outliers in price per sqft i.e removing very low and very high price per sqft values 
def remove_outlier(df):
    dfout=pd.DataFrame()
    for key,subdf in df.groupby('location'):
        m=np.mean(subdf.price_per_sqft)
        st=np.std(subdf.price_per_sqft)
        reducedf=subdf[(subdf.price_per_sqft>(m-st)) & (subdf.price_per_sqft<(m+st))]
        dfout=pd.concat([dfout,reducedf],ignore_index=True)
    return dfout

In [ ]:
dfnew=remove_outlier(df4)
dfnew.head()

In [ ]:
dfnew.shape

In [ ]:
def plot_scatter(df,location):
    bhk2=df[(df.location==location) & (df.bhk==2)]
    bhk3=df[(df.location==location) & (df.bhk==3)]
    plt.figure(figsize=(22,11))
    plt.scatter(bhk2.total_sqft,bhk2.price,color='red',label='2 BHK')
    plt.scatter(bhk3.total_sqft,bhk3.price,color='green',label='3 BHK')
    plt.xlabel('Total square feet')
    plt.ylabel('price')
    plt.title(location)
    plt.legend()

In [ ]:
plot_scatter(dfnew,"Whitefield")

#### Making a function which removes those properties with same location but having more prices and less number of bedrooms i.e 2 bhk properties which have higher price than 3 bhk properties in same location

#### Building a dictionary of statistics per bhk (for a chosen location)

In [ ]:
def rem_bhkout(df):
    exclude_indices=np.array([])
    for location,locdf in df.groupby('location'):
        bhk_stat={}
        for bhk,bhk_df in locdf.groupby('bhk'):
            bhk_stat[bhk]={
                'mean': np.mean(bhk_df.price_per_sqft),
                'std': np.std(bhk_df.price_per_sqft),
                'count': bhk_df.shape[0]
            }
        for bhk,bhk_df in locdf.groupby('bhk'):
            stats=bhk_stat.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices=np.append(exclude_indices,bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
    return df.drop(exclude_indices,axis='index')

In [ ]:
dfdash=rem_bhkout(dfnew)

again calling function to get scatter plot to see if the outliers are removed or not

In [ ]:
plot_scatter(dfdash,'Whitefield')

MOST OF THE DATAPOINTS (3BHK) WHICH WERE HAVING PRICE EQUAL OR LESS THAN 2BHK DATA POINTS ARE REMOVED ,REDUCING THE AMOUNT OF ABNORMALITIES

In [ ]:
dfdash.bath.unique()

In [ ]:
dfdash.shape

In [ ]:
dfdash[dfdash.bath>7]

index=6557 HERE NUMBER OF BATHROOMS ARE MORE THAN THE NUMBER OF BEDROOMS WHICH SEEMS LIKE AN ABNORMALITY AND THUS WE REMOVE THOSE DATAPOINTS WHICH HAVE NO. OF BATHROOMS>(NO. OF BEDROOMS+1)

In [ ]:
plt.hist(dfdash.bath,rwidth=0.8)
plt.xlabel('Number of bathrooms')
plt.ylabel('Count')
plt.title('Distribution of no of bathrooms')

In [ ]:
dfd=dfdash[dfdash.bath<dfdash.bhk+1]
dfd.shape

In [ ]:
dfd.balcony.unique()

In [ ]:
plt.hist(dfd.balcony,rwidth=0.8)
plt.xlabel('Number of balconies')
plt.ylabel('Count')
plt.title('Distribution of no of balconies')

In [ ]:
dfd[dfd.balcony>dfd.bhk].head()

SINCE USUALLY NUMBER OF BALCONIES IN A HOUSE ARE NOT GREATER THAN NO OF BEDROOMS ,THESE ABNORMALITIES MUST BE REMOVED

In [ ]:
dfg=dfd[dfd.balcony<=dfd.bhk]
dfg.shape

In [ ]:
dfg.head()

### ML MODELLING

##### DROPPING SIZE AND PRICE_PER_SQFT FEATURES FROM THE DATAFRAME

In [ ]:
dfg.drop(['size','price_per_sqft'],axis='columns',inplace=True)
dfg.head()

In [ ]:
dfg.location.unique().shape

##### THUS WHEN WE DO ONE HOT ENCODING ON THE LOCATION COLUMN WE GET 97 MORE COLUMNS

In [ ]:
oh_encode=pd.get_dummies(dfg.location)
oh_encode.head()

In [ ]:
dfconcat=pd.concat([dfg,oh_encode.drop(['other'],axis='columns')],axis='columns') # dropping one column to avoid dummy variable trap
dfconcat.head()

In [ ]:
dfconcat.shape

In [ ]:
X=dfconcat.drop(['price','location'],axis='columns') #independent variables into X
X.head()

In [ ]:
y=dfconcat.price # dependent variable into y 
y.head()

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.5,random_state=9)

In [ ]:
from sklearn.linear_model import LinearRegression
ob=LinearRegression()
ob.fit(X_train,y_train)
ob.score(X_test,y_test)

In [ ]:
# k-fold cross validaton - estimating the skill of model on new data 
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score
kfolds=ShuffleSplit(n_splits=5,test_size=0.5,random_state=0)
cross_val_score(ob,X,y,cv=kfolds)

In [123]:
X.columns

Index(['total_sqft', 'bath', 'balcony', 'bhk', '5th Phase JP Nagar',
       '7th Phase JP Nagar', '8th Phase JP Nagar', '9th Phase JP Nagar',
       'Akshaya Nagar', 'Ambedkar Nagar', 'Ananth Nagar', 'Anekal', 'Attibele',
       'Balagere', 'Banashankari', 'Bannerghatta Road', 'Basavangudi',
       'Begur Road', 'Bellandur', 'Bhoganhalli', 'Bisuvanahalli',
       'Bommanahalli', 'Bommasandra', 'Brookefield', 'Budigere',
       'CV Raman Nagar', 'Chandapura', 'Channasandra', 'Chikkalasandra',
       'Devanahalli', 'Doddathoguru', 'Electronic City',
       'Electronic City Phase II', 'Electronics City Phase 1', 'Frazer Town',
       'Gottigere', 'Green Glen Layout', 'HSR Layout', 'Haralur Road',
       'Harlur', 'Hebbal', 'Hegde Nagar', 'Hennur', 'Hennur Road', 'Hoodi',
       'Horamavu Agara', 'Hormavu', 'Hosa Road', 'Hosakerehalli', 'Hosur Road',
       'Hulimavu', 'Indira Nagar', 'JP Nagar', 'Jakkur', 'Jalahalli', 'Jigani',
       'KR Puram', 'Kadugodi', 'Kaggadasapura', 'Kalena Agrahara',
       'Kanakapura', 'Kanakpura Road', 'Kasavanhalli', 'Kengeri',
       'Kengeri Satellite Town', 'Koramangala', 'Kothanur', 'Kudlu Gate',
       'Kundalahalli', 'Lakshminarayana Pura', 'Malleshwaram', 'Marathahalli',
       'Mysore Road', 'Nagarbhavi', 'Old Madras Road', 'Panathur',
       'R.T. Nagar', 'Rachenahalli', 'Raja Rajeshwari Nagar', 'Rajaji Nagar',
       'Ramagondanahalli', 'Ramamurthy Nagar', 'Sahakara Nagar', 'Sarjapur',
       'Sarjapur  Road', 'Subramanyapura', 'TC Palaya', 'Talaghattapura',
       'Thanisandra', 'Thigalarapalya', 'Tumkur Road', 'Uttarahalli',
       'Varthur', 'Vidyaranyapura', 'Vijayanagar', 'Vittasandra', 'Whitefield',
       'Yelahanka', 'Yelahanka New Town', 'Yeshwanthpur'],
      dtype='object')

In [124]:
def predict_price(location,sqft,bath,balcony,bhk):
    loc_index=np.where(X.columns==location)[0][0]
    x=np.zeros(len(X.columns))
    x[0]=sqft
    x[1]=bath
    x[2]=balcony
    x[3]=bhk
    if loc_index>=0:
        x[loc_index]=1
    return ob.predict([x])[0]

In [136]:
predict_price('Whitefield',2300,3,1,5)

163.2317612497884

In [137]:
predict_price('Hoodi',2300,3,1,5)

154.62856849831778

### clearly whitefield area has costly properties than Hoodi area

In [138]:
predict_price('Hoodi',2700,3,2,5)

184.0286356004383

### clearly if we increase the no of balconies (we need to add approxiamte area to total sqft also) , the predicted price for properties increases.

IMPORTING MODEL USING PICKLE FILE

In [139]:
import pickle
with open('Real_estate_price_predictor.pickle','wb') as f:
    pickle.dump(ob,f)

In [140]:
import json
columns={
    'data_columns' : [col.lower() for col in X.columns]
}
with open('columns.json','w') as f:
    f.write(json.dumps(columns))